body{
    .externalcol{
        color: aqua(5,94,97);
        border: 3px solid;
        margin-right: 100px;
        border-radius: 25px;
    }
    .spanclass{
        border: 3px solid;
    }
    .no_account{
        font-weight: bold;
    }
    .main-container{
        border: 1px solid;
        text-align: center;
        margin: 50px 500px;
        padding: 10px;
        border-radius: 5px;
        
    }
}